{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} North Station Information {% endblock %}</h1>
    <h2>Departures</h2>
    <table border-spacing=30px>
        <tr>
            <th>Line</th>
            <th>Departure Time</th>
        </tr>
        {% for departure in departures %}
        <tr>
            <td>{{ departure['Line'] }}</td>
            <td>{{ departure['DepartureTime'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Alerts:</h2>
        <ul>
            {% for alert in alerts %}
            <li>{{ alert['Message'] }}</li>
            {% endfor %}
        </ul>
    </table>
{% endblock %}